Package: demo3-dbgsym
Package-Type: ddeb
Source: demo3
Version: 0.0.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: demo3 <dingjing@live.cn>
Installed-Size: 18
Depends: demo3 (= 0.0.0)
Section: debug
Priority: optional
Description: debug symbols for demo3
Build-Ids: 0f50bf7dd43291f8276e44f8d17905cea41a5603
